/* custom properties */

:root {
    --niagara: #c80e0e;
    --woodsmoke: #181919;
    --silver-sand: #b8bdbd;
    --genoa: #c80e0e;
    --fedora: #716f71;
    --slate-gray: #788997;
    --elf-green: #c80e0e;
    --fondo-gris: #4b525d;
    --first-color: #c80e0e;
    --form2: #2c2f40;
    --form1: rgb(29, 29, 29);
    --form3: rgb(105, 117, 117);

    /*  --first-color: #d90062; */
    --first-alpha-color: #14192de5;
    --second-color: #14192d;
    --second-alpha-color: rgba(20, 25, 45, 0.75);
    --white-color: #fff;
    --gray-light-color: #f3f3f3;
    --gray-color: #ccc;
    --gray-dark-color: #666;
    --black-color: #000;
    --link-color: #509ee3;
    --title-color: #333;
    --text-color: #222;
    --white-alpha-color: rgba(255, 255, 255, 0.5);
    --black-alpha-color: rgba(0, 0, 0, 0.5);
    --font: "Raleway", sans-serif;
    --max-width: 1200px;
    --header-height: 4rem;
}

::-webkit-scrollbar {
    display: none;
}

/* Reset */
html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
    color: var(--text-color);
}

a {
    color: var(--link-color);
    transition: all 0.1s ease-out;
}

a:hover {
    opacity: 0.75;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
}

h3 {
    margin: 0;
    font-size: 1.25rem;
}

h4 {
    margin: 0;
    font-size: 1rem;
}

h5 {
    margin: 0;
    font-size: 0.85rem;
}

h6 {
    margin: 0;
    font-size: 0.7rem;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    line-height: 1.6;
}

/*--------componentes----------- */
/* -----seccion Acerca----------------- */

.home {
    background-color: var(--second-color);
}

/* imagen */
.hero-image {
    background-image: var(--image);
    /* background-color: var(--second-color); Puedes quitar esta línea si no necesitas un color de fondo adicional */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


.hero-image-opacity {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--black-alpha-color);
}

.hero-image-blur {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    margin: 1rem;
}

.hero-image-blur .container {
    display: flex;
    padding: 0 1rem;
}

.hero-image-blur svg {
    fill: #0a9474;
    width: 5vw;
}

.hero-image-tittle {
    color: var(--white-color);
    padding: 0.5rem;
    font-size: 4.5vw;
    font-weight: bold;
}

.hero-image-subtittle {
    color: var(--white-color);
    font-size: 2.5vw;
}

/* menu */
.menu-btn {
    background-color: var(--second-color);
    outline: thin solid var(--first-color);
    border: 0;
    cursor: pointer;
}

.menu-btn svg {
    fill: var(--first-color);
}

.menu {
    position: fixed;
    left: 0;
    bottom: var(--header-height);
    width: 100%;
    background-color: var(--second-color);
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.menu.is-active {
    pointer-events: auto;
    opacity: 1;
}

.menu a {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--white-color);
}

.menu a:hover {
    color: var(--white-color);
    background-color: var(--first-color);
}

#photo-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto {
    max-width: 40%;
    height: auto;
}

@media screen and (min-width: 1024px) {
    .menu-btn {
        display: none;
    }

    .menu {
        position: static;
        width: auto;
        opacity: 1;
        pointer-events: auto;
        flex-direction: row;
    }

    .menu a {
        padding: 0 1rem;
        /*  border: 1px solid yellow; */
    }

    .menu a:hover {
        background-color: transparent;
    }
    .menu a:last-child {
        padding-right: 0;
    }
}

.about > article {
    margin-bottom: 2rem;
}

/* servcios */

/* Utilities */

/* Se pueden usar para otros proyectos */

.bg-gray-light {
    background-color: var(--gray-light-color);
}

.border-pos {
    border: 5px solid green;
}

.border-neg {
    border: 5px solid red;
}

.desactivar-btn {
    pointer-events: none;
    opacity: 50%;
    cursor: not-allowed;
}

.section-title {
    border-top: thin solid var(--first-color);
    border-bottom: thin solid var(--first-color);
    width: 250px;
    margin: 2rem auto;
    text-align: center;
    color: var(--title-color);
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
}

/* Formulario de contacto */

.contact-form {
    margin: 2rem auto;
    padding: 1rem;
    max-width: 800px;
}

.contact-form > * {
    padding: 1rem;
    margin: 1rem auto;
    display: block;
    width: 100%;
    color: var(--white-color);
}

.contact-form input,
.contact-form textarea {
    font-size: 1rem;
    font-family: var(--font);
    background-color: var(--form2);
}

.contact-form input {
    border: 0;
    padding-left: 1rem;
}

.contact-form textarea {
    border: 0;
    resize: none;
}

.contact-form input[type="submit"] {
    margin-top: 0;
    cursor: pointer;
    transition: all 0.5s ease-out;
    background-color: var(--first-color);
}

.contact-form input[type="submit"]:hover {
    opacity: 0.75;
}

.contact-form *::placeholder {
    color: var(--white-color);
}

.modal#gracias:target {
    opacity: 1;
    pointer-events: auto;
}

.contact-form-respose {
    padding: 1rem;
    background-color: var(--white-color);
    width: 400px;
    text-align: center;
    color: var(--second-color);
}

.contact-form-respose svg {
    margin-top: 2rem;
    width: 4rem;
    height: 4rem;
}

.box-shadows-1 {
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.25);
}

.btn {
    border-radius: 0.5rem;
    padding: 1rem;
    display: inline-block;
    width: 200px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--first-color);
}

.btn:hover {
    background-color: #0cbba1;
    color: black;
}

.grid-layout {
    width: 90%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.caja {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
}

.caja > svg {
    margin: 0 auto;
    transform: scale(0.9);
    width: 100%;
}

.none {
    display: none;
}

.error {
    background-color: red;
    text-align: center;
    color: white;
}

/* modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background-color: var(--black-alpha-color);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}
.modal-content {
    position: relative;
}

.modal-content .close {
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.modal-content svg {
    fill: var(--first-color);
    width: 3rem;
    height: 3rem;
}

.modal[id|="trabajo"]:target {
    opacity: 1;
    pointer-events: auto;
}

.portafolio-modal {
    display: flex;
    flex-direction: column;
    width: 350px;

    align-items: center;
    justify-content: center;
    background-color: var(--second-color);
}

.portafolio-modal .portafolio-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--first-color);
    text-align: center;
    padding: 10px;
}

.portafolio-info .details {
    display: flex;
    width: 40%;
}

.portafolio-info h3 {
    color: var(--white-color);
}

.details > a {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: var(--first-color);
    margin: auto;
    margin: 0.5rem 1rem;
    text-decoration: none;
}

.grey-scale {
    filter: grayscale(1);
}

.text-lef {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.section {
    padding: 2rem 1rem;
}

@media screen and (min-width: 1024px) {
    .text-lg-left {
        text-align: left;
    }

    .text-lg-center {
        text-align: center;
    }

    .text-lg-right {
        text-align: right;
    }

    .full-lg-screen {
        width: 100%;
        min-height: 100vh;
    }

    .portafolio-modal {
        width: 900px;
        display: flex;
        flex-direction: row;
    }
}

/* EStilos unicos */

.botones {
    display: flex;
    justify-content: space-around;
}

.botones #btnreset {
    background-color: var(--fedora);
}

.botones #btnreset:hover {
    background-color: var(--first-color);
}

.contact {
    background-color: var(--second-color);
}

.contact .section-title {
    color: var(--white-color);
}

.contact-card {
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: var(--form2);
    color: var(--white-color);
}

.contact-card svg {
    fill: var(--first-color);
    width: 3rem;
    height: 3rem;
}

.header {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 1rem;
    z-index: 999;
    width: 100%;
    height: var(--header-height);
    background-color: var(--second-color);
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.isactive {
    /* border-bottom: thin solid var(--first-color); */
}

.footer {
    text-align: center;
    padding: 1rem;
    background-color: #000;
    color: var(--white-color);
    font-weight: bold;
    margin-bottom: var(--header-height);
    opacity: 0;
    margin-bottom: 0;
}

.logo a {
    color: var(--first-color);
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
}

.caja .js:hover {
    fill: rgb(239, 216, 29);
}

.caja .html5:hover {
    fill: rgb(228, 77, 38);
}

.caja .git:hover {
    fill: rgb(228, 77, 38);
}

.caja .css:hover {
    fill: rgb(21, 154, 212);
}

.caja .bot:hover {
    fill: var(--first-color);
}

.card {
    padding: 1rem;
    margin: 1rem auto;
    text-align: center;
}

.card h3 {
    color: var(--title-color);
}

.card svg {
    fill: var(--second-color);
    margin-bottom: 1.5rem;
}

.portafolio-card {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.portafolio-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portafolio-card-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--first-alpha-color);
    color: var(--white-color);
    font-weight: bold;
    padding: 1rem;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

.portafolio-card:hover .portafolio-card-info {
    opacity: 1;
    pointer-events: auto;
}

.portafolio-card-info div {
    padding: 1rem;
    border: thin solid var(--white-color);
    width: 100%;
    height: 100%;
}

.social-media a {
    padding: 0 0.4rem;
    text-decoration: none;
}

.social-media svg {
    width: 1.5rem;
    height: 1.5rem;
}

/* para tabletas */

@media screen and (min-width: 768px) {
    .contact-cards {
        display: grid;
        grid-template-columns: repeat(2, 48%);
        justify-content: space-between;
    }

    .footer {
        opacity: 1;
    }

    .isactive {
        border-bottom: thin solid var(--first-color);
    }

    .services > .container {
        display: grid;
        grid-template-columns: repeat(2, 45%);
        justify-content: space-between;
        align-items: center;
    }

    .services .section-title {
        grid-column: span 2;
    }

    .portafolio-card {
        height: 50vw;
    }
    .portfolio > .container {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    .portfolio .section-title {
        grid-column: span 2;
    }
}

/* escritorio */

@media screen and (min-width: 1024px) {
    .about {
        display: grid;
        grid-template-columns: repeat(3, 30%);
        justify-content: space-between;
        align-content: center;
    }
}

@media screen and (min-width: 1024px) {
    .contact-cards {
        grid-template-columns: repeat(4, 24%);
    }

    .footer {
        margin-bottom: 0;
        opacity: 1;
    }

    .header {
        position: sticky;
        top: 0;
        padding: 0.5rem;
        height: calc (var(--header-height)-0.5rem);
    }

    .home {
        background-color: var(--second-color);
    }

    .foto {
        max-width: 70%;
        height: auto;
    }

    .services > .container {
        display: grid;
        grid-template-columns: repeat(3, 30%);
    }

    .services .section-title {
        grid-column: span 3;
    }

    .portafolio-card {
        height: 19vw;
    }

    .portfolio > .container {
        grid-template-columns: repeat(3, 1fr);
    }

    .portfolio .section-title {
        grid-column: span 3;
    }

    .portafolio-modal {
        width: 900px;
    }

    .portafolio-info {
        padding: 20px 0;
    }

    .portafolio-modal img {
        width: 50%;
        height: 320px;
        object-fit: cover;
        object-position: bottom;
    }
}
